.footer__license {
  display: inline-block;
  height: 35px;
  margin-left: 1em;
  margin-right: 1em; }
  .footer__license img {
    width: auto;
    height: 100%; }
.footer {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0.4em 0;
  border-top: 1px solid #f2f2f2; }
  @media (min-width: 768px) {
    .footer__inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: initial;
              flex-direction: initial; } }

.footer__left,
.footer__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25em 0; }
  @media (min-width: 768px) {
    .footer__left,
    .footer__right {
      margin: 0;
      padding: 0; } }

@media (min-width: 768px) {
  .footer__left {
    padding-left: 1.5em; } }

@media (min-width: 768px) {
  .footer__right {
    padding-right: 1.5em; } }

.footer__middle {
  display: none; }
  @media (min-width: 768px) {
    .footer__middle {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      display: block; } }

.footer__icon {
  display: inline-block;
  height: 35px; }
  .footer__icon img {
    width: auto;
    height: 100%; }

.footer__link {
  font-size: 11px;
  text-transform: uppercase;
  color: #999999;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto; }
  .footer__link:not(:last-child) {
    margin-right: 1.5em; }
  .footer__link:hover {
    color: #333333; }
.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden; }
  .site.nav-displayed {
    height: 100vh; }
@charset "UTF-8";
/**
 * Styling
 *
 * This file contains the base styling for the site.
 *
 */
@font-face {
  font-family: 'Geomanist';
  src: url(/1ebd0482aadade65f20ec178219fe012.woff2) format("woff2"), url(/314bbcd238d458622bbf32427346774f.woff) format("woff");
  font-weight: 600;
  font-style: normal; }
