.homepageInner {
    display: flex;
    align-self: center!important;
}

.homepageMainPhrase {
    display: flex;
    margin-top: 24px;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #212121;
    justify-content: center;
    text-align: center;
    line-height: 50px;
    padding: 0 15px;
}

.largeLogo {
    display: none;
    justify-content: center;
    flex-flow: row;
}

.largeLogo img {
    max-height: 250px;
    display: flex;
}

.homepageMainContent {
    display: flex;
    flex-flow: column wrap;
}

@media (min-width: 320px) and (max-width: 767px) {
    .largeLogo {
        display: flex;
    }

    .homepageMainPhrase {
        font-size: 25px;
        line-height: 40px;
    }

    .homepageMainContent {
        flex: 2;
        justify-content: space-between;
        margin-bottom: 30px;
    }
}
