.mainHeadingWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: baseline;
    margin: 59px 0 0 94px;
}

.h1 {
    display: flex;
    margin: 0;
    padding: 0 0 0 21px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    font-size: 35.5px;
    color: #f1f1f1;
    background-image: url('../../../assets/img/main-heading-circle.png');
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: left center;
    letter-spacing: 3.5px;
    text-transform: uppercase;
}

.h3 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
    margin: 0 0 0 8px;
    line-height: 34px;
    position: relative;
    top: 10px;
    font-size: 18px;
    letter-spacing: 2px;
}

.mainHeadingWrapper:before {
    content: '';
    position: absolute;
    display: flex;
    align-self: center;
    left: -152px;
    height: 0px;
    width: 246px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #fff;
    opacity: 0.6;
}

:global(.dark-style-header) .h1 {
    background-image: url('../../../assets/img/main-heading-circle-dark.png');
    color: #212121;
}

:global(.dark-style-header:before) {
    border-bottom-color: #212121;
}

@media (min-width: 320px) and (max-width: 767px) {
    .mainHeadingWrapper {
        margin: 30px 0 20px 0;
    }
    .mainHeadingWrapper:before {
        width: 15px;
    }
    .h1 {
        font-size: 30px;
        letter-spacing: 2.5px;
    }
}
