.mainHeadingWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 59px 0 0 94px;
}

.h1 {
    display: flex;
    margin: 0;
    padding: 0 0 0 21px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #f1f1f1;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
}

.h1:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 6px;
    height: 6px;
    border-radius: 6px;
    border: 2px solid #fff;
    opacity: 0.6;
}

.mainHeadingWrapper:before {
    content: '';
    position: absolute;
    display: flex;
    align-self: center;
    left: -152px;
    height: 0px;
    width: 246px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #fff;
    opacity: 0.6;
}

:global(.dark-style-header) .h1 {
    color: #212121;
}

:global(.dark-style-header:before) {
    border-bottom-color: #212121;
}

:global(.dark-style-header) .h1:before {
    border-color: #212121;
}

@media (max-width: 767px) {
    .mainHeadingWrapper {
        margin: 30px 0 0 0;
    }
    .mainHeadingWrapper:before {
        width: 15px;
    }
    .h1 {
        font-size: 18px;
        letter-spacing: 2.5px;
    }
    .h1:before {
        width: 4px;
        height: 4px;
        border-radius: 4px;
        background-color: #fff;
        opacity: 1;
    }
    :global(.dark-style-header) .h1:before {
        background-color: #212121;
        border-color: #212121;
    }
}

@media (max-width: 360px) {
    .mainHeadingWrapper {
        margin: 10px 0 0 0;
    }
}

@media only screen
    and (max-width: 767px)
    and (orientation: landscape) {
    .mainHeadingWrapper {
        margin-top: 15px;
    }
}
