.btn {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    width: 189px;
    text-decoration: none;
    background-color: #fbbd63;
    border-color: #fbbd63;
    border-style: solid;
    border-width: 2px;
    margin-right: 0;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    line-height: 39px !important;
}

.btn i {
    margin-left: 7px;
    font-size: 23px;
}

.reverse {
    font-weight: 600;
}

.reverse, .btn:hover {
    background-color: transparent;
    border-color: #464c4d;
    border-style: solid;
    border-width: 2px;
    color: #212121;
}

.reverse:hover {
    background-color: #fbbd63;
    border-color: #fbbd63;
    border-style: solid;
    border-width: 2px;
    color: #fff;
}

/* Btn with tooltip */

.textWrapper, .btnTextValue, .btnIcon {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.btnTextValue, .btnIcon {
    transition: top 500ms;
}

.withTooltip {
    display: inline-block;
    position: relative;
    transition: background-color 500ms, transform 100ms;
}

.textWrapper {
    overflow: hidden;
}

.btnTextValue {
    line-height: 36px;
    top: 0;
    justify-content: center;
    display: flex;
}

.btnIcon {
    top: 100%;
}

.btnIcon i {
    color: #fff;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    height: 36px;
}

.withTooltip::before {
    content: attr(data-tooltip);
    width: 220px;
    text-align: justify;
    background-color: #fbbd63;
    font-size: 14px;
    line-height: 23px;
    border-radius: 10px;
    padding: 15px;
    left: calc(50% - 120px);
    bottom: 90px;
    color: #212121;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.withTooltip::after {
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #fbbd63;
    left: calc(50% - 10px);
    bottom: 70px;
}

.withTooltip::before, .withTooltip::after {
    position: absolute;
    opacity: 0;
    transition: all 500ms;
    visibility: hidden;
}

.withTooltip:hover {
    background-color: #fbbd63;
}

.withTooltip:hover .btnTextValue {
    top: -100%;
}

.withTooltip:hover .btnIcon {
    top: 0;
}

.withTooltip:hover::before, .withTooltip:hover::after {
    opacity: 1;
    visibility: visible;
}

.withTooltip:hover::after {
    bottom: 36px;
}

.withTooltip:hover::before {
    bottom: 55px;
}

.withTooltip:active {
    transform: translate(2px, 2px);
}
