.inner {
    composes: inner from "../../../shared/styles/Layout.css";
    width: auto;
    margin-top: 0;
    position: relative;
}

.pageWrapper {
    composes: pageWrapper from "../../../shared/styles/Layout.css";
    flex-direction: column;
}

.epigraph {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    width: 30%;
    color: #2F4550;
    letter-spacing: 1px;
    font-size: 22px;
    line-height: 38px;
}

.content {
    font-weight: 400;
    line-height: 23px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 70%;
    text-align: justify;
    padding-right: 15px;
    color: #2F4550;
}

.slide {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 200;
    opacity: 1;
    overflow: hidden;
    transform: translateX(-200%);
}

.slide.slidingStarted {
    transition: transform 1s;
}

.slide.right {
    transform: translateX(200%);
}

.slide.active {
    opacity: 1;
    transform: none;
}

.controls {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 15px;
    width: 72%;
}

.controls a {
    display: flex;
    color: #2F4550;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    transition: opacity 1s;
    margin-right: 30px;
}

.controls a span {
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
}

.controls a:hover span {
    text-decoration: underline;
}

.controls a:last-child {
    margin-right: 0;
}

.controls a:hover {
    color: #2F4550;
    opacity: 1;
}

.bold {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.content a img {
    width: 50%;
    float: left;
    padding-top: 15px;
    display: block;
}

.content a:last-child img {
    float: right;
    width: 30%;
}

.technoligiesList {
    display: inline-block;
    width: 100%;
    height: 85px;
}

.technoligiesList a {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.technoligiesList a img {
    display: inline-block;
    filter: grayscale(100%);
    opacity: .5;
    transition: opacity 1s, filter 1s;
    width: 35% !important;
    margin: 0 auto;
    padding: 0;
    float: none !important;
}

.technoligiesList a:hover img {
    filter: none;
    opacity: 1;
}

.ourBeliefsPage h1 {
    color: #2F4550 !important;
}

.ourBeliefsPage h1:before {
    background-color: #2F4550 !important;
    border-color: #2F4550 !important;
}

:global(.disableArr) {
    opacity: .4 !important;
    color: #545b67 !important;
    cursor: grab;
}

:global(.disableArr) span {
    text-decoration: none !important;
}

@media only screen and (max-width: 767px) {
    .epigraph {
        order: 1;
        width: 100%;
        text-align: right;
        font-size: 14px;
        line-height: 24px;
    }

    .content {
        width: 100%;
        font-size: 11px;
        line-height: 14px;
        order: 2;
    }

    .slide {
        flex-direction: column;
    }

    .forwardBtn {
        display: block;
        position: fixed;
        bottom: -20px;
        right: -30px;
        font-size: 200px !important;
        opacity: 0.35 !important;
    }

    .backBtn {
        display: block;
        position: fixed;
        top: -20px;
        left: -70px;
        font-size: 200px !important;
        opacity: 0.35 !important;
    }

    .content a img {
        width: 100%;
    }

    .content a:last-child img {
        width: 100%;
    }

    .controls {
        width: 100%;
        justify-content: center;
        margin-top: 0;
        line-height: 20px;
        margin-bottom: 5px;
    }

    .controls a {
        line-height: 25px;
        font-size: 20px;
    }

    .controls a span {
        font-size: 14px;
        line-height: 30px;
    }

    .technoligiesList a img {
        width: 100% !important;
    }

    .ourBeliefsPage h1 {
        font-size: 14px !important;
        letter-spacing: normal !important;
    }

    .ourBeliefsPage h1 div span {
        display: none;
    }

    .content {
        padding-right: 0;
    }

    .technoligiesList img {
        height: 40px !important;
    }

    .technoligiesList {
        height: 50px !important;
    }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .inner {
        margin: 0;
    }
}
