.inner {
    composes: inner from "../../../shared/styles/Layout.css";
    width: auto;
    margin-top: 0;
}

.epigraph {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: right;
    width: 40%;
    color: #545b67;
    letter-spacing: 1px;
    font-size: 25px;
    line-height: 38px;
}

.epigraph:hover {
    color: #D81159;
}

.content {
    font-weight: 400;
    line-height: 23px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    width: 50%;
    text-align: justify;
    padding-top: 10px;
    letter-spacing: 0.75px;
}

.slide {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateX(-200%);
    transition: transform 1s, opacity 0.5s 0.5s;
}

.slide.right {
    transform: translateX(200%);
}

.slide.active {
    opacity: 1;
    transform: none;
}

.controls a {
    font-size: 75px;
    color: #545b67;
    opacity: 0.5;
    transition: opacity 1s;
}

.controls a:hover {
    color: #D81159;
    opacity: 1;
}

.bold {
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.content a img {
    width: 50%;
    float: left;
    padding-top: 15px;
    display: block;
}

.content a:last-child img {
    float: right;
    width: 30%;
}

.forwardBtn {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 200px !important;
    opacity: 0.35 !important;
}

.backBtn {
    display: block;
    position: absolute;
    bottom: 0;
    left: -70px;
    font-size: 200px !important;
    opacity: 0.35 !important;
}

@media only screen and (max-width: 767px) {
    .epigraph {
        display: none;
    }

    .content {
        width: 100%;
    }

    .forwardBtn {
        display: block;
        position: fixed;
        bottom: -20px;
        right: -30px;
        font-size: 200px !important;
        opacity: 0.35 !important;
    }

    .backBtn {
        display: block;
        position: fixed;
        top: -20px;
        left: -70px;
        font-size: 200px !important;
        opacity: 0.35 !important;
    }

    .content a img {
        width: 100%;
    }

    .content a:last-child img {
        width: 100%;
    }
}

@media only screen and (max-width: 360px) {
    .content {
        font-size: 14px;
        line-height: 17px;
        padding: 0;
    }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .inner {
        margin: 0;
    }
}
