.contactsWrapper {
    display: flex;
    flex: 2;
    height: 100%;
    margin: 73px 0 0 117px;
    justify-content: space-between;
}

.formWrapper {
    display: flex;
    width: 50%;
}

.info {
    display: flex;
    flex-flow: column;
    min-width: 360px;
}

.info p, .info a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14.5px;
    display: flex;
    text-decoration: none;
    transition: color .5s;
}

.info p span {
    padding-right: 10px;
    min-width: 35px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.info p span:before {
    align-self: center;
    font-size: 17px;
}

.info p:hover a, .info p:hover, .info p:hover span {
    color: #e3af61;
}

.info p:first-child span {
    margin-top: -28px;
}

.info p:nth-child(3) span:before {
    font-size: 13px;
}

.formWrapper form {
    width: 100%;
    position: relative;
    top: -15px;
}

.formWrapper label {
    font-size: 14.5px;
}

.formWrapper :global(.mui-textfield) {
    margin-bottom: 10px;
}

.formWrapper input, .formWrapper textarea {
    margin-top: 28px;
    border-color: #f1f1f1 !important;
    color: #f1f1f1;
    font-size: 14.5px;
}

.formWrapper input:focus, .formWrapper textarea:focus {
    border-bottom-color: #fbbd63 !important;
}

.formWrapper label {
    color: #f1f1f1 !important;
}

.formWrapper input:first-child {
    margin-top: 0;
}

.formWrapper a {
    margin-top: 40px;
    border-color: #e3af61;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: 0;
}

.formWrapper a:hover {
    color: #fff !important;
    border-color: #fbbd63;
}

.socialNetworks {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.socialNetworks li {
    display: flex;
    margin-right: 20px;
}

.socialNetworks li a {
    display: flex;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 16px;
    color: #333333;
    justify-content: center;
    font-size: 23px;
    flex-flow: column wrap;
    transition: background-color .5s, border .5s, color .5s;
}

.socialNetworks li a span {
    display: flex;
    justify-content: center;
    position: relative;
    top: -1px;
}

.socialNetworks li a:hover {
    background-color: #f9bb69;
    border: 1px solid #f9bb69;
    color: #fff;
}

.socialNetworks li.facebookBtn a {
    font-size: 21px;
    line-height: 21px;
}

.socialNetworks li.facebookBtn a span {
    top: 0;
}

.telegramBtn a {
    background: url('../../../../assets/img/icons/telegram-logo.png') #ffffff;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.telegramBtn a:hover {
    background: url('../../../../assets/img/icons/telegram-logo-white.png') #f9bb69;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 767px) {
    .socialNetworks {
        display: none;
    }

    .contactsWrapper {
        flex-grow: 1;
        justify-content: flex-start;
        align-content: flex-start;
    }

    .formWrapper {
        height: auto;
    }

    .formWrapper form {
        display: flex;
        flex-direction: column;
    }

    .formWrapper form a {
        margin-top: 0;
    }
}

@media only screen
    and (max-width: 767px)
    and (orientation: portrait) {
    .contactsWrapper {
        margin: 10px 0;
        flex-direction: column;
    }

    .info {
        order: 2;
        margin-top: 15px;
        min-width: auto;
        height: auto;
    }

    .socialNetworks {
        justify-content: center;
    }

    .socialNetworks li {
        margin: 0 20px;
    }

    .formWrapper {
        order: 1;
        width: 100%;
        margin-top: 0;
    }

    .formWrapper label {
        font-size: 13px;
    }

    .info p {
        margin: 0;
        line-height: 25px;
        font-size: 13px;
        justify-content: center;
    }

    .info p a {
        font-size: 13px;
    }

    .info p span {
        min-width: unset;
    }

    .formWrapper input {
        margin-top: 10px;
        font-size: 13px;
        width: 100%;
        max-width: unset;
    }

    .formWrapper a {
        margin-top: 0;
        width: 100%;
    }

    .formWrapper form a {
        padding: 20px 0;
        max-height: 30px;
    }

    .formWrapper textarea {
        margin-top: 0;
        font-size: 13px;
        max-width: unset;
        width: 100%;
    }
}

@media only screen
    and (max-width: 767px)
    and (orientation: landscape) {
    .contactsWrapper {
        margin: 10px 0;
        flex-direction: row;
    }

    .formWrapper input, .formWrapper textarea {
        padding: 10px 0;
    }

    .info {
        margin: 0 15px;
        min-width: auto;
    }

    .info p {
        margin: 5px 0;
    }

    .formWrapper input {
        margin-top: 0;
    }

    .formWrapper a {
        margin-top: 20px;
        width: 100%;
        line-height: 16px !important;
    }

    .formWrapper form a {
        padding: 15px 0;
    }
}

/*
    ##Device = Tablets, Ipad Pro 12 inch (portrait)
    ##Screen = B/w 1024px to 1366px
*/
@media only screen
    and (min-device-width: 1024px)
    and (max-device-width: 1366px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 1.5) {
    .info {
        flex: 2;
    }
}

@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : portrait) {
    .info {
        flex: 2;
    }
    .contactsWrapper {
        margin: 30px 0 0;
    }

    .contactsWrapper {
        margin: 10px 0;
        flex-direction: column;
    }

    .info {
        order: 2;
        margin-top: 0;
        min-width: auto;
    }

    .socialNetworks {
        justify-content: center;
    }

    .socialNetworks li {
        margin: 0 20px;
    }

    .formWrapper {
        order: 1;
        width: 100%;
        margin-top: 10px;
    }

    .info p {
        margin: 0;
        line-height: 25px;
        font-size: 15px;
        justify-content: center;
    }

    .info p a {
        font-size: 13px;
    }

    .info p span {
        min-width: unset;
    }

    .formWrapper input {
        margin-top: 20px;
        font-size: 15px;
        max-width: unset;
        width: 100%;
    }

    .formWrapper a {
        margin-top: 20px;
        width: 100%;
    }

    .formWrapper form a {
        padding: 20px 0;
        max-height: 30px;
    }

    .formWrapper textarea {
        margin-top: 0;
        font-size: 15px;
        max-width: unset;
        width: 100%;
        min-height: 125px;
    }
}

@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : landscape) {
    .contactsWrapper {
        margin: 10px 0;
        flex-direction: row;
    }

    .formWrapper input, .formWrapper textarea {
        padding: 10px 0;
        max-width: unset;
        width: 100%;
    }

    .info {
        flex: 2;
        margin: 0 15px;
        min-width: auto;
    }

    .info p {
        margin: 5px 0;
    }

    .formWrapper input {
        margin-top: 0;
    }

    .formWrapper a {
        margin-top: 20px;
        line-height: 16px !important;
    }

    .formWrapper form a {
        padding: 15px 0;
    }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (min-height: 300px) {
    .contactsWrapper {
        margin-left: 0;
    }
}
