.secondaryNavigation {
    position: fixed;
    right: -139px;
    height: 100%;
    display: flex;
    z-index: 500;
    transition: right 0.75s;
    user-select: none;
}

.secondaryNavigation:hover {
    right: 0;
}

.secondaryNavigation .visibleColumn {
    width: 50px;
    height: 100%;
    background-color: #fff;
    opacity: 0.3;
}

.secondaryNavigation nav {
    width: 139px;
    background-color: rgba(255,255,255,0.3);
    z-index: 200;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 7px;
    margin-top: 0;
}

.secondaryNavigation nav > a {
    display: flex;
    position: relative;
    transition: 0.5s color;
    letter-spacing: 0.4px;
    color: #212121;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 21px;
    text-decoration: none;
    justify-content: center;
    flex-direction: column;
}

.secondaryNavigation nav > a:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: -38px;
    width: 6px;
    height: 6px;
    border: 2px solid #212121;
    border-radius: 6px;
    transition: border 0.2s 0.2s;
}

.secondaryNavigation nav > a.active:before,
.secondaryNavigation nav > a:hover::before {
    border: 2px solid #fbbd63;
    transition: border 0.2s;
}

.secondaryNavigation nav > a:after {
    content: '';
    position: absolute;
    left: -28px;
    top: 9px;
    width: 0;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #fdd7a1;
    transition: width 0.1s 0.1s;
}

.secondaryNavigation nav > a.active:after,
.secondaryNavigation nav > a:hover::after {
    content: '';
    position: absolute;
    width: 26px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #fbbd63;
}

.secondaryNavigation nav > a.active,
.secondaryNavigation nav > a:hover {
    color: #fbbd63;
}

.darkstyle nav > a:hover,
.darkstyle nav > a.active {
    color: #76a6b1;
}

.darkstyle nav > a:after,
.darkstyle nav > a.active:after,
.darkstyle nav > a:hover::after {
    border-bottom-color: #76a6b1;
}

.darkstyle nav > a.active:before,
.darkstyle nav > a:hover::before {
    border: 2px solid #76a6b1;
    transition: border 0.2s;
}

@media (max-height: 300px) {
    .secondaryNavigation {
        top: 0;
    }
}

@media (max-width: 767px) {
    .secondaryNavigation {
        display: none;
    }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .secondaryNavigation {
        display: none;
    }
}
