@keyframes service-open {
    0%   {
        position: absolute;
        bottom: 0;
        width: 237px;
        height: 260px;
    }

    50% {
        position: absolute;
        bottom: 0;
        width: 500px;
        height: 260px;
    }

    100% {
        position: absolute;
        bottom: 0;
        width: 500px;
        height: 550px;
    }
}

.serviceOpen > div {
    animation-duration: 2s;
    animation-name: service-open;
    animation-fill-mode: forwards;
}

.serviceOpen > div > div {
    display: flex !important;
    flex: 2;
}

.serviceOpen h4 {
    color: #212121 !important;
    margin: 12px 0 0 0 !important;
}

.serviceOpen > div > p {
    background: #212121 !important;
    border-color: #212121 !important;
}

.serviceOpen > div > p img {
    filter: invert(100%) !important;
}

.serviceOpen > div {
    z-index: 400;
}
