.backLining:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 1;
}

:global(.mouse-navigation-wrapper) {
    display: flex;
    flex: 2;
    cursor: grab;
    user-select: none;
    height: 100%;
    overflow: hidden;
}
