.canvas {
    display: flex;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 75px;
    z-index: 1100;
    filter: none;
}

@media (max-width: 767px) {
    .canvas {
        left: 0;
    }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .canvas {
        left: -42px;
    }
}
