.canvas {
    display: flex;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 75px;
    z-index: 1100;
    filter: none;
}

@media (min-width: 320px) and (max-width: 767px) {
    .canvas {
        left: 0;
    }
}
