.mainContent {
    flex: 2;
    align-items: center;
    flex-flow: column;
    user-select: none;
    position: relative;
    display: flex;
}

.mainContent > div {
    display: flex;
    flex-flow: column;
    align-self: stretch;
    margin: 0 152px;
    height: 100%;
}

@media (min-width: 320px) and (max-width: 767px) {
    .mainContent > div {
        margin: 0 15px;
    }
}
