.pageWrapper {
    composes: pageWrapper from "../../../shared/styles/Layout.css";
    margin: 20px 0 0 0;
    justify-content: space-between;
    margin: 0;
}

.pageWrapper a {
    display: flex;
    justify-content: center;
    align-self: center;
    color: #fff;
    opacity: .3;
    text-decoration: none;
    text-transform: uppercase;
    flex-direction: column;
    text-align: center;
    line-height: 30px;
    font-size: 26px;
    font-family: 'Open Sans Condensed', sans-serif;
    transition: opacity 1s, color 1s;
}

.pageWrapper a:hover {
    color: #fbbd63;
    opacity: 1;
    transition: opacity 1s, color 1s;
}

.videoContainer {
    display: flex;
    align-self: stretch;
    width: 100%;
    height: 100%;
    margin: 0;
}

.videoContainer iframe {
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
}

:global(.video-react) {
    display: flex !important;
    width: 100% !important;
    height: 100% !important;
    padding-top: 0 !important;
}

:global(.video-react .video-react-control-bar) {
    width: calc(100% - 2px);
    position: absolute;
    bottom: 1px;
    left: 1px;
}
