@keyframes opacity-in {
    0%   {
        opacity: 0;
    }

    100% {
        opacity: 0.9;
    }
}

.pageWrapper {
    composes: pageWrapper from "../../../shared/styles/Layout.css";
    flex-direction: column;
}

.inner {
    composes: inner from "../../../shared/styles/Layout.css";
    width: 40%;
    height: 190px;
}

.description {
    composes: description from "../../../shared/styles/Layout.css";
    line-height: 27px;
    font-weight: 400;
}

.list {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 25px 0 0 0;
    flex: 2;
    margin: 0 0 0 20px;
}

.list li {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.icon {
    display: flex;
    width: 68px;
    height: 68px;
    background: #fff;
    border-radius: 34px;
    border: 1px solid #fff;
    justify-content: center;
    align-items: center;
    transition: background 0.5s, border-color 0.5s;
    margin: 0;
}

.icon img {
    max-width: 30px;
}

.list li h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 15.5px;
    line-height: 11px;
    margin: 36px 0 0 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    transition: margin 0.5s, color 0.5s;
    color: #fff;
}

.list li:hover h4 {
    color: #212121;
    margin: 12px 0 0 0;
    transition: margin 0.5s 0.2s, color 0.5s 0.2s;
}

.list li:hover .icon {
    background: #212121;
    transition: background 0.5s 0.2s, border-color 0.5s 0.2s;
    border-color: #212121;
}

.list li .icon img {
    transition: filter 0.5s;
}

.list li:hover .icon img {
    transition: filter 0.5s 0.2s;
    filter: invert(100%);
}

.details {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 100%;
    padding: 15px 21px;
    margin-top: 15px;
    position: relative;
}

.details:before {
    content: '';
    position: absolute;
    top: -9px;
    display: flex;
    align-self: center;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 9px;
    transition: border 0.5s;
    box-sizing: border-box;
}

.list li:hover .details:before {
    border: 3px solid #fdb951;
    background: #fff;
    transition: border 0.5s 0.5s, background 0.5s 0.5s;
}

.details:after {
    content: '';
    position: absolute;
    top: -4px;
    display: flex;
    align-self: center;
    width: 8px;
    height: 8px;
    background: #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 4px;
    z-index: 200;
    transition: border .5s, background .5s;
}

.list li:hover .details:after {
    background: #fdb951;
    border: 1px solid #fdb951;
    transition: border .5s, background .5s;
}

.details {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 23px;
    color: #212121;
    height: 0;
    padding: 0;
    overflow: visible;
    transition: height .5s;
    margin-top: 15px;
}

.list li .details > a:last-child {
    margin: 15px 21px;
    opacity: 0;
    color: transparent;
    overflow: hidden;
}

.list li:hover .details > a:last-child {
    color: #fff;
    opacity: 1;
    transition: opacity 0.5s 0.2s;
}

.list li .details > a:hover {
    color: #fff !important;
    background: #76a6b1;
    border-color: #76a6b1;
}

.list li:hover .details {
    height: 70px;
    transition: height 0.5s;
}

.details p {
    font-size: 14.5px;
    margin: 0;
    overflow: hidden;
    height: 0;
    font-weight: 300;
    width: 100%;
}

.list li:hover .details {
    display: flex;
}

.details > a {
    font-weight: 600;
    width: auto;
}

.listInnerWrapper {
    display: flex;
    flex: 2;
    position: absolute;
    bottom: 0;
    flex-direction: column;
    transition: height 0.5s, top 0.5s;
    align-items: center;
    padding-bottom: 30px;
    width: 237px;
}

.overlay {
    position: fixed;
    top: 43px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #000;
    opacity: 0;
    animation-name: opacity-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.closeBtn {
    position: absolute;
    top: 77px;
    width: 16px !important;
    line-height: 16px !important;
    height: 16px;
    right: 5px;
    color: #fff;
    font-size: 23px;
    opacity: 0;
    text-decoration: none;
}

.closeBtn:hover {
    color: #fdb951;
}

.technoligiesList {
    display: inline-block;
    width: 100%;
    height: 85px;
}

.technoligiesList a {
    display: inline-block;
    width: 25%;
    height: 100%;
    text-align: center;
    padding: 10px;
}

.technoligiesList img {
    display: inline-block;
    height: 100%;
    filter: grayscale(100%);
    opacity: .6;
    transition: opacity .5s;
}

.technoligiesList a:hover img {
    filter: none;
    opacity: 1;
    transition: opacity .5s;
}
