.header {
    display: flex;
    flex-flow: row nowrap;
    height: 43px;
    width: 100%;
    overflow: hidden;
    user-select: none;
    justify-content: space-between;
}

.headerLogo {
    display: flex;
    height: 43px;
    width: 43px;
    background-image: url('../../assets/img/logo-ic.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.primaryNav {
    align-self: baseline;
    display: flex;
}

.primaryNav a {
    line-height: 43px;
    margin: 0 10px;
    color: #000;
    font-size: 16px;
    opacity: 0.6;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.primaryNav a:hover {
    opacity: 1;
}

.primaryNav a.requestBtn {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    background-color: #fbbd63;
    margin-right: 0;
    opacity: 1;
}

.primaryNav a.languageBtn {
    width: 50px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    z-index: 150;
}

.primaryNav a.languageBtn:hover {
    color: #fbbd63;
}

@media (min-width: 320px) and (max-width: 767px) {
    .primaryNav a.requestBtn,
    .primaryNav a.languageBtn {
        display: none !important;
    }

    .primaryNav a {
        font-size: 22px;
    }

    .primaryNav a:last-child {
        font-size: 16px;
    }
}
