.header {
    position: relative;
    background: #fff;
    display: flex;
    flex-flow: row nowrap;
    height: 43px;
    width: 100%;
    overflow: visible;
    user-select: none;
    justify-content: space-between;
    z-index: 2000;
}

.header::after {
    content: '';
    display: flex;
    bottom: -5px;
    box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .14);
    height: 5px;
    left: 0;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 200;
}

.headerLogo {
    display: flex;
    height: 43px;
    width: 43px;
    background-color: #fbbd63;
    transition: background-color 10s;
    position: relative;
}

.headerLogo:before {
    content: '';
    height: 100%;
    width: 100%;
    background-image: url('../../assets/img/logo.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 200;
}

.primaryNav {
    align-self: baseline;
    display: flex;
    padding-right: 189px;
}

.primaryNav > a {
    line-height: 43px;
    margin: 0 10px;
    color: #212121;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    transition: 0.4s transform, 0.4s color;
}

.primaryNav > a:hover {
    color: #fbbd63;
    transition: 0.4s color;
}

.primaryNav a.languageBtn {
    width: 50px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    z-index: 150;
}

.primaryNav a.languageBtn:hover {
    color: #fbbd63;
}

.facebookIcon {
    font-size: 15px;
}

.telegramIcon {
    width: 18px;
    height: 18px;
    background: url('../../assets/img/icons/telegram-logo.png');
    background-size: 100%;
    align-self: center;
}

a.githubIcon {
    font-size: 18px;
    margin-right: 20px;
}

a.instagramIcon {
    font-size: 18px;
}

.telegramIcon:hover {
    background: url('../../assets/img/icons/telegram-logo-hover.png');
    background-size: 100%;
}

@media (max-width: 767px) {
    .primaryNav a.requestBtn,
    .primaryNav a.languageBtn {
        display: none !important;
    }

    .primaryNav a {
        font-size: 22px;
    }

    .primaryNav a:last-child {
        font-size: 16px;
    }

    .primaryNav {
        padding-right: 0;
    }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .primaryNav a.requestBtn,
    .primaryNav a.languageBtn {
        display: none !important;
    }

    .primaryNav a {
        font-size: 22px;
    }

    .primaryNav a:last-child {
        font-size: 16px;
    }

    .primaryNav {
        padding-right: 0;
    }
}
