/* The animations */
@keyframes unblur {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
  }
}

@keyframes fadingoverlay {
  0% {
    opacity: 0.95;
  }
  50% {
    opacity: 0.70;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes overlay {
  0% {
    opacity: 0;
    background: transparent;
  }
  100% {
    opacity: .9;
    background: #000;
  }
}
/* End of animations */

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body, html, :global(#root) {
  width: 100%;
  height: 100%;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

:global(::placeholder) {
  color: #fff;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

:global(h2) {
  margin: 0;
}

:global(p) {
  font-size: 14px;
  font-weight: 600;
  line-height: 23px;
}

:global(input), :global(textarea) {
  display: flex;
  border: none;
  color: #fff;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background: transparent;
  border-bottom: 1px solid #fff;
  padding: 14px 0;
  max-width: 357px;
  width: 100%;
  overflow: hidden;
}

:global(input:focus), :global(textarea:focus) {
  outline: none;
}

:global(.img-circle) {
  border-radius: 50%;
}

/* Dark overlay + blur */
:global(.overlay) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1200;
  opacity: .95;
  background: #000;
}

:global(.blurred) {
  filter: blur(10px);
  backface-visibility: hidden;
  will-change: filter;
}

:global(.unblur) {
  filter: blur(.3px);
  transition: 7s filter ease-in-out;
}
/* End of dark overlay + blur */

:global(.fade) {
  animation-name: fadingoverlay;
  animation-duration: 7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.wrapper, :global(#root > div) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  background-color: #fff;
  overflow: hidden;
}

.innerWrapper {
  flex: 2;
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  position: relative;
}

:global(a:hover) {
  text-decoration: none !important;
}

:global(.no-animations) {
    transition: unset !important;
}
