@keyframes form-open {
    0%   {
        width: 189px;
        height: 43px;
    }

    50% {
        width: 400px;
        height: 43px;
    }

    100% {
        width: 400px;
        height: 100%;
    }
}

@keyframes form-close {
    0%   {
        width: 400px;
        height: 100%;
    }

    50% {
        width: 400px;
        height: 43px;
    }

    100% {
        width: 189px;
        height: 43px;
    }
}

@keyframes opacity-in {
    0%   {
        opacity: 0;
    }

    100% {
        opacity: .75;
    }
}

@keyframes opacity-out {
    0%   {
        opacity: .75;
    }

    100% {
        opacity: 0;
    }
}

.requestForm {
    width: 189px;
    height: 43px;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 2200;
}

.requestForm::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

.requestForm > a {
    transition: 1s background-color, 1s border-color !important;
    background-color: #fbbd63;
    border-color: #fbbd63;
}

.requestForm > a:hover, .openForm.requestForm > a {
    background-color: #D81159;
    border-color: #D81159;
}

.formWrapper {
    flex: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.openForm {
    animation-duration: 2s;
    animation-name: form-open;
    animation-fill-mode: forwards;
    will-change: width, height;
}

.closeForm {
    animation-duration: 2s;
    animation-name: form-close;
    animation-fill-mode: forwards;
    will-change: width, height;
}

a.requestBtn {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    background-color: #fbbd63;
    margin: 0;
    z-index: 500;
    width: 100%;
    transition: 0.4s color, 0.4s transform;
}

.openForm a.requestBtn::after {
    content: "\F00D";
    font: normal normal normal 18px/1 FontAwesome;
    position: absolute;
    right: 15px;
    top: 11px;
}

a.requestBtn:hover {
    border-color: #FF5964;
    background: #FF5964;
    color: #fff;
}

.reverseForm {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.reverseForm > a {
    z-index: 1000;
}

.reverseForm :global(.Select) {
    margin-bottom: 20px;
}

.reverseForm a {
    margin: 0 auto;
    width: 100%;
}

.reverseForm input, .reverseForm textarea {
    color: #212121;
    border-bottom: 1px rgba(0,0,0,.4) solid;
}

.reverseForm input:focus, .reverseForm textarea:focus {
    border-bottom-color: #fbbd63;
}

.reverseForm textarea {
    height: 100px;
}

.reverseForm ::placeholder {
    color: #212121;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.overlay {
    position: fixed;
    top: 43px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-color: #000;
    opacity: 0;
    animation-name: opacity-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

:global(.overlayClose) {
    animation-name: opacity-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

:global(.is-focused .Select-control) {
    border-color: #FBBD63 !important;
}

.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 43px;
    left: 0;
    background-color: rgba(231,229,221,.95);
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
    transition-delay: 250ms;
    z-index: 1000;
}

.activeModal {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.modalContainer {
    padding: 7px 10px 10px;
    height: 100%;
    line-height: 23px;
    font-weight: 400;
}

.modalContainer p {
    line-height: 23px;
    font-weight: 400;
    text-align: justify;
}

.modalContainer :global(.mui-textfield) label {
    color: rgba(0,0,0,.4) !important;
}

:global(#close-modal) {
    font-size: 30px;
    color: rgba(0,0,0,.4) !important;
}

@media (max-width: 767px) {
    .requestForm {
        display: none;
    }

    :global(.Select-placeholder), :global(.Select-menu-outer *), :global(.Select-value) {
        background-color: rgba(231,229,221,.95) !important;
    }

    .reverseForm {
        padding: 0 5px;
        margin-top: 15px;
    }

    .reverseForm input, .reverseForm textarea, .reverseForm label {
        font-size: 13px;
    }

    .reverseForm :global(.mui-textfield) {
        padding-top: 10px;
    }

    .overlay {
        display: none;
    }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .requestForm {
        display: none;
    }
}
